@model KanaPractice.Models.QuestionViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Game" method="post">
        <input hidden asp-for="Id" />
        <input hidden asp-for="QuestionTextString" />
        <input hidden asp-for="Answer" />
        <div class="gameInformation">
            <p class="score">Score: @Model.Score</p>
            <div class="lives">
                Lives: <span>@{for (int x = 0; x < Model.Lives; x++)
                    {
                        <span><i class="fas fa-heart"></i></span>
                    }
                }</span>
            </div>
        </div>
        <div class="test-character">
            <p>@Model.QuestionTextString</p>
        </div>
        <div class="buttonContainer">
            @{
                foreach (string posAnswer in Model.PossibleAnswers)
                { 
                    <button type="submit" class="btn btn-lg redButton" name="chosenAnswer" value="@posAnswer" id="SaveNew">@posAnswer</button>
                }
            }
        </div>
    </form>
</div>
