@model KanaPractice.Models.GameOverViewModel

<div class="text-center">
    <form>
        <p>Game Over</p>
        <p>Final score: @Model.Score</p>
        <button class="btn btn-primary btn-lg" asp-controller="home" asp-action="reset" type="submit">Play again</button>
    </form>
</div>
