@model KanaPractice.Models.GameOverViewModel

<div class="text-center">
    <form>
        <h1>失敗した！</h1>
        <p>Final score: @Model.Score</p>
        <img class="gameOverImage" src="~/img/game-over-crying-png.png" />
        <h2>失敗は成功の母</h2>
        <h3><i>Success is born from failure</i></h3>
        <br />
        <button class="btn redButton btn-lg" asp-controller="home" asp-action="reset" type="submit">Play again</button>
    </form>
</div>
