@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>こんにちは！</h1>
        <img class="sushiImg" src="~/img/cutesushi.png" />
        <p>Konnichiwa! Thanks for stopping by. If you want to learn Japanese the first step is to get comfortable with the 2 <i>syllabic</i> writing systems; Hiragana and Katakana.</p>
        <p>Let's first talk about what exactly <b>Hiragana</b> and <b>Katakana</b> <i>really</i> are anyway.</p>
        <div class="padded-section pink">
            <h2>
                Hiragana - ひらがな
            </h2>
            <p>The more cursive form of kana (syllabic writing) used in Japanese, primarily used for function words and inflections.</p>

            <h2>
                Katakana - カタカナ
            </h2>
            <p>The more angular form of kana (syllabic writing) used in Japanese, primarily used for words of foreign origin.</p>
        </div>

        <p>So, much like English has capitalised version of each letter (i.e: aA bB cC), Japanese too has two unique ways of writing each sound, each serving different gramatical purposes.</p>
        <p>But how do you learn it? Well, the same way you learn anything else, by practicing it. Seeing it over and over until it's firmly stuck in your brain. I'd start by writing them all out by hand, after
        you get a feel for them you can use this game to really solidify those new connections your brain is making.</p>

    <br />
    <p>"So that's it, right? 100 little squiggles and I'm a Japanese master?"... well, not quite, we then have Kanji to consider, Kanji are the Chinese characters used in Japanese, unlike Hiragana and Katakana each Kanji is defined by its meaning
        and can have 3, 4, 5 or more unique pronunciations. Did I mention there are 2200 of them aswell?</p>

        <p>Let's save that for another day.</p>
    </div>
