@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>こんにちは！</h1>
        <img class="sushiImg" src="~/img/cutesushi.png" />
        <p>Konnichiwa! Thanks for stopping by. If you want to learn Japanese the first step is to get comfortable with the 2 <i>syllabic</i> writing systems; Hiragana and Katakana.</p>
        <p>Let's first talk about </p>
    </div>
